body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

/* Navbar Styles */
nav {
    background-color: #ffff00;
    padding: 5px;
    width: 60%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-right: 1px solid #999;
}

nav ul li a.active {
    background-color: #3333cc;
    color: white;
}

nav ul li a:hover {
    background-color: #cccccc;
}