* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow: hidden;
}

.left {
    float: left;
    width: 20%;
    height: 300px;
    background-color: #b03a3a;
}

.center {
    float: left;
    width: 60%;
    height: 300px;
    background-color: #29b6f6;
}

.right {
    float: left;
    width: 20%;
    height: 300px;
    background-color: #7e57c2;
}